.create-success-alert {
    width: 100%;
    background-color: rgb(140, 230, 140);
    padding: 5px 0px;
    border: 1px solid black;
    text-align: center;
    border-radius: 6px;
}

.header-warning-close {
    border: 1px solid black;
    background-color: rgb(223, 255, 209);
    width: 18px;
    border-radius: 75px;
    float: right;
    margin: 0px 10px;
}

.header-warning-close:hover {
    cursor: pointer;
    background-color: rgb(150, 250, 92);
}

#footer {
    margin-top: 100px;
    float: right;
}