{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h2>What is Wiki?</h2>
    <div>
        <p>Wiki is a personalized take on Project 1 from the course CS50 Web Programming. 
            The idea was to create a faux wikipedia site where users could view, add, or 
            edit entries. I took this idea and used it as an opportunity to practice my
            front end programming. Now here is some sample text:
            <br><br>
            {% lorem 5 p %}
        </p>
    </div>

{% endblock %}