{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}
    New Entry
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'encyclopedia/new-entry.css' %}?{% now 'U' %}">
{% endblock %}

{% block body %}
    {% if titleExists %}
        <div class="header-warning">
            <strong>Note:</strong> <a href="/wiki/{{ existingTitle }}">{{ existingTitle }}</a> page already exists
            <span class="header-warning-close" onclick="this.parentElement.style.display = 'none';">&times;</span>
        </div>
    {% endif %}
    <h2>Create a new Page</h2>
    <div class="main">
        <form action="{% url 'new-entry' %}" method="POST">
            {% csrf_token %}
            {{ entryForm }}
            <input type="submit" value="Create Page">
        </form>
    </div>
{% endblock %}